<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--Socket侦听设置-->
    <add key="Port" value="8889" />
    <add key="MaxConn" value="1024" />
    <add key="BufferSize" value="4000" />
    <add key="ReviceTimeOut" value="60000"/>
    <add key="sendingApp" value="SSMZ" />
    <add key="recvApp" value="MediII" />
    <add key="AcceptTitle" value="SRM^S01^SRM_S01" />
    <add key="AcceptTitleConfig" value="SRM^S03^SRM_S03" />
    <add key="AcceptTitleCancel" value="SRM^S04^SRM_S01" />
    <add key="PaibanTableName" value="Adims_OTypesetting" />
    <!--<add key="ConnectionString" value="Server=.;DataBase=HeYiAMIS;Uid=sa;PassWord=sa123456"/>-->
    <add key="ConnectionString" value="Server=10.0.100.87;DataBase=HeYiAMIS;Uid=sa;PassWord=sa123456"/>
  </appSettings>
</configuration>