<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--Socket侦听设置-->
    <add key="Port" value="8881" />
    <add key="MaxConn" value="1024" />
    <add key="BufferSize" value="4000" />
    <add key="ReviceTimeOut" value="60000" />
    <add key="sendingApp" value="SSMZ1" />
    <add key="recvApp" value="MediII" />
    <add key="AcceptTitle" value="SRM^S01^SRM_S01" />
    <add key="AcceptTitleConfig" value="SRM^S03^SRM_S03" />
    <add key="AcceptTitleCancel" value="SRM^S04^SRM_S01" />
    <add key="AcceptTitleOperDic" value="MFN^Z8A^MFN_Z8A" />
    <add key="PaibanTableName" value="Adims_OTypesetting" />
    <add key="OperDic" value="OperDic_New" />
    <!--<add key="ConnectionString" value="Server=.;DataBase=HeYiAMIS;Uid=sa;PassWord=sa123456"/>-->
    <add key="ConnectionString" value="Server=10.0.100.87;DataBase=HeYiAMIS;Uid=sa;PassWord=sa123456" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>