<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=10.0.100.87;DataBase=HeYiAMIS;Uid=sa;PassWord=sa123456;"></add>
    <!--<add key="ConnectionString" value="Server=.;DataBase=HeYiAMIS;Uid=sa;PassWord=HYS123456;"></add>-->
    <add key="HL7IPaddress" value="10.0.100.93" ></add>
    <add key="HL7port" value="30000" ></add>
  </appSettings>
</configuration>
