<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=.;DataBase=HeYiAMIS_JHSZYY;Uid=sa;PassWord=HYS123456;"></add>
    <!--<add key="ConnectionString" value="Server=.;DataBase=HeYiAMIS;Uid=sa;PassWord=HYS123456;"></add>-->
    <add key="HL7IPaddress" value="172.1.1.83"></add>
    <add key="HL7port" value="30000"></add>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
