<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
     <add name="HeYiAdims" connectionString="Server=.;DataBase=HeYiAMIS_HQ;Uid=sa;PassWord=HYS123456"/>
    <!--<add name="DrugInventory"        connectionString="Initial Catalog=DrugInventory;     Integrated Security=False;User Id=sa;Password=94539517wtlyw;Data Source=localhost\UPLOWERSENSITIVE;Failover Partner=localhost\UPLOWERSENSITIVE;Application Name=TransForCCT" providerName="System.Data.SqlClient"/>
    <add name="Pharmacy"       connectionString="Initial Catalog=Pharmacy;     Integrated Security=False;User Id=sa;Password=94539517wtlyw;Data Source=localhost\UPLOWERSENSITIVE;Failover Partner=localhost\UPLOWERSENSITIVE;Application Name=TransForCCT" providerName="System.Data.SqlClient"/>-->    
    <add name="ApServer1" connectionString="http://127.0.0.1/SIHIS"  />
    <add name="ApServer2" connectionString="http://127.0.0.1/SIHIS"  />
  </connectionStrings>

</configuration>
