<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
   <add key="ConnectionString" value="Server=.;DataBase=HeYiAMIS;Uid=sa;PassWord=HYS123456;"></add>
    <add key="SeverIp" value="10.0.100.87" ></add>
    <add key="FtpURL" value="ftp://10.0.100.87:2121/Setup/" ></add>
    <add key="FtpUser" value="administrator" ></add>
    <add key="FtpPWD" value="szyy,,ssmz" ></add>
    <add key="HL7IPaddress" value="10.0.100.93" ></add>
    <add key="HL7port" value="30000" ></add>
    <add key="PACS" value="http://pacs.js-szyy.com/webserver/examAction!prepareRptFromForeign.action?name=his&amp;pass=aGlz&amp;patiId=" ></add>
    <add key="EMR" value="http://10.0.100.55:9080/jsszhemr/jsp/login.action?doctor.user_password=88888&amp;hisbs=true&amp;doctor.user_name=" ></add>
    <add key="EHR" value="http://192.168.100.114:8080/ehrview/index?user=system&amp;pwd=123&amp;idcard=" ></add>
    <add key="Electrocardiogram" value="http://ecg.js-szyy.com/HisReportList.aspx?fkey=" ></add>
    <add key="Pathological" value="path.js-szyy.com" ></add>  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <main.Properties.Settings>
      <setting name="main_EmrWebReference_ISsmzService" serializeAs="String">
        <value>http://10.0.100.55:8080/ssmz/services/SsmzService</value>
      </setting>
      <setting name="main_HisWebReference_OperAisthService" serializeAs="String">
        <value>http://10.0.100.114:8080/SZYYOperService/OperAisthService.asmx</value>
      </setting>
    </main.Properties.Settings>
  </applicationSettings>
</configuration>