<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--Socket发送设置-->
    <add key="BufferSize" value="4000" />
    <add key="ReviceTimeOut" value="60000"/>
    <add key="SedingApplication" value="HIS"/>
    <add key="Address" value="192.168.1.112"/>
    <add key="Port" value="8889"/>
    
  </appSettings>
  <!--以下是EntityFrameWork配置，不使用EF的应删除-->
</configuration>