<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <add key="ConnectionString" value="Server=10.36.0.11;DataBase=InfeconCZ;Uid=sa;PassWord=Infecon001;"></add>

  </appSettings>
</configuration>
